/*Your Custom Style sheet goes here*/

html {
	font-family: 'Roboto Condensed', sans-serif;
}


/* #home */

.demo {
	height: 100px;
}

.png {
	margin-top: 30px;
}

.demo .mdl-layout__header,
.demo .mdl-layout__drawer-button {
	color: black;
	;
}

.mdl-navigation__link {
	margin-top: 60px;
	font-size: 20px;
	text-align: center;
}


	/* main content */

.slide {
	width: 100%;
	height: 800px;
	margin-top: 60px;
}

.one {
	margin-left: 80px;
	width: 340px;
	height: 340px;
	background: url('../images/2015.jpg') center / cover;
}

.mdl-card__actions {
	height: 52px;
	padding: 16px;
	background: rgba(0, 0, 0, 0.6);
}

.filename a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Droid Serif', serif;
}

.filename a:hover {
	color: blue;
}


/* footer */

.mdl-mini-footer__left-section {
	margin-left: 100px;
}

.mdl-mini-footer__link-list li:hover {
	color: royalblue;
}


		/* about.html */

footer {
	background-color: gray;
}

.footer {
	text-align: center;
	height: 160px;
	text-decoration-line: underline;
	margin-bottom: 0;
}
.footer .icon {
	color: royalblue;
	font-size: 100px;
	margin-left: 60px;
}

.ion-social-googleplus {
	color: red;
	font-size: 40px;
}

.footer .icon:hover {
	color: #fff;
}
.foot i {
	color: #fff;
}
